---
layout: page
title: "About Me"
description: "Welcome to my blog."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        你不懂的东西自然会小心翼翼,让你陷入麻烦的是你打心底认定的结论。
    </blockquote>
    <p style="text-align:right;">
        —— 马克·吐温 </a>
    </p>
    <p style="text-align:center">
        一名正在对世界进行不成熟探索的普通大学生。<br/>
        一名中立的投机者。<br/>
        一名正在努力学习技术的代码爱好者。<br/>
        喜欢游戏，金钱，美女，跑车。<br/>
        喜欢独自思考以及想象。<br/>
        正在培养坚持的品质和克服懒惰。<br/>
        希望每天能进步一点点。
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        It ain't what you don't know that gets you in trouble.
        It's what you know for sure that just ain't so.
    </blockquote>
    <p style="text-align:right;">
    -- Mark Twain
    </p>
    <p style="text-align:center">
        An ordinary student who is exploring the world in an immature method.<br/>
        A unjust but not evil speculator.<br/>
        A code lover who is hard working to learn more code technology.<br/>
        I like games,money,beauties and roadsters.<br/>
        I use to thinking and imagining.<br/>
        I am developing persistence and getting over laziness.<br/>
        I hope i can be better than yesterday.
    </p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
